html {
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 97%;
  min-width: 150px;
  color: #E5DADA;
  background: #002642;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-size: 15pt;
  overflow-x: hidden;
}

.prompt-style {
  color: #E5DADA;
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-size: 15pt;
  display: inline-block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.05em;
}

::selection {
  color: #002642;
  background-color: #E5DADA;
}

::-moz-selection {
  color: #002642;
  background-color: #E5DADA;
}

textarea {
  left: -1000px;
  position: absolute;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

#typer {
  display: inline-block;
  font-family: 'Share Tech Mono', monospace;
  font-size: 15pt;
  transform: translateY(-5px);
}

/* Cursor Start */
.cursor {
  font-size: 12px;
  color: #E5DADA;
  background-color: #E5DADA;
  position: absolute;
  /* margin-left: 247px; */
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
  user-select: none;       /* Prevent text selection */
  pointer-events: none;    /* Ignore mouse events */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command {
  cursor: text;
  height: 50px;
  color: #E5DADA;
}

#liner {
  line-height: 1.3em;
  animation: show 0.1s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  letter-spacing: 0.05em;
}

.animated-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #E5DADA;
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

.no-animation {
  animation: typing 0 steps(30, end);
}

.margin {
  margin-left: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #E5DADA;
  }
}

.index {
  color: #DCDCCC;
}

.color2 {
  color: #E59500;
}

.color3 {
  color: #ff0000;
}

.command {
  color: #d7447c;
  text-shadow: 0 0 5px #840032;
}

.error {
  color: #E59500;
}

.white {
  color: #fff;
}

.inherit,
a {
  color: #9C8394;
}

a {
  text-decoration: inherit;
}

a:hover {
  background: #E5DADA;
  color: #881b45;
}

a:focus {
  outline: 0;
}

#prompt {
  color: #E5DADA;
}
