html {
  -webkit-text-size-adjust: none;
}
body {
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    color: #E5DADA;
    background: #002642;
    font-family: cursor, monospace;
    overflow-x: hidden;
  }
  ::selection {
    color: #002642;
    background-color: #E5DADA;
  }
  ::-moz-selection {
    color: #002642;
    background-color: #E5DADA;
  }
  textarea {
    left: -1000px;
    position: absolute;
  }
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  /* Cursor Start */
  .cursor {
    font-size: 12px;
    color: #E5DADA;
    background-color: #E5DADA;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #command {
    cursor: text;
    height: 50px;
    color: #E5DADA;
  }
  #liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.1s ease forwards;
    animation-delay: 0.6s;
    opacity: 0;
  }
  #liner::before {
    color: #E5DADA;
    content: "visitor@suslov.co:~$";
  }
  #liner.password::before {
    content: "Password:";
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Cursor End */
  p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 20px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .index {
    color: #DCDCCC;
  }
  .color2 {
    color: #E59500;
  }
  .color3 {
    color: #ff0000;
  }
  .command {
    color: #d7447c;
    text-shadow: 0 0 5px #840032; 
  }
  .error {
    color: #E59500;
  }
  .white {
    color: #fff;
  }
  .inherit,
  a {
    color: #9C8394;
  }
  a {
    text-decoration: inherit;
  }
  a:hover {
    background: #E5DADA;
    color: #881b45;
  }
  a:focus {
    outline: 0;
  }